.vscode
*.gch
*.out
*.out.dSYM
*Adverts.md
*.DS_STORE
glfw-3.3.2
glfw-3.3.2/*
LLANPL/Chapter1/hello_cargo/target/*
LLANPL/Chapter1/HelloWorldProj/*
LLANPL/Chapter2/guessing_game/target/*
LLANPL/Chapter3/branches/target/*
LLANPL/Chapter3/fibonacci/target/*
LLANPL/Chapter3/functions/target/*
LLANPL/Chapter3/loops/target/*
LLANPL/Chapter3/variables/target/*
LLANPL/Chapter4/first_word/target/*
LLANPL/Chapter5/rectangles/target/*
*.json
window 
triangle
rectangle
twoTriangle
doubleTriangle
colorTriangle
__pycache__
main
